## Retail Data

The objective of this assignment is to introduce the pandas DataFrame and some of its associated methods that can help with data wrangling.

To do this, we will focus on a Retail Data use case. Suppose we are given historical sales data for 45 stores located in different regions and each store contains a number of departments. There are two datasets of interest here: 

        1) Sales: Weekly sales by department for each store
        2) Stores: Features of each store including 'Type' which indicates the type of store and 'size' which indicates the number of weekly visitors.

**Your primary analytical question is this: For each type of store, what is the average weekly sales after excluding holidays?**

The dataset for this project can be found here:
https://www.kaggle.com/manjeetsingh/retaildataset?select=sales+data-set.csv

### Task 0: Initial Data Formatting

We first start reading in two data frames: sales and stores.

In [1]:
# import pandas and numpy
import pandas as pd
import numpy as np

 *0a)* use pd.read_csv() to load the data frames

In [2]:
# Read in the sales csv as a pandas data frame
sales =  pd.read_csv('sales.csv')

# Read in the stores csv as a pandas data frame
stores =  pd.read_csv('stores.csv')

*0b)* Take a look at the data for *stores* using some of the pd.DataFrame methods. Consider .value_counts(), .head(), .tail(), .info(). Briefly describe your findings in a text chunk.

In [3]:
stores.value_counts()

Store  Type  Size
1      A     151315    1
24     A     203819    1
26     A     152513    1
27     A     204184    1
28     A     206302    1
29     B     93638     1
30     C     42988     1
31     A     203750    1
32     A     203007    1
33     A     39690     1
34     A     158114    1
35     B     103681    1
36     A     39910     1
37     C     39910     1
38     C     39690     1
39     A     184109    1
40     A     155083    1
41     A     196321    1
42     C     39690     1
43     C     41062     1
44     C     39910     1
25     B     128107    1
23     B     114533    1
2      A     202307    1
22     B     119557    1
3      B     37392     1
4      A     205863    1
5      B     34875     1
6      A     202505    1
7      B     70713     1
8      A     155078    1
9      B     125833    1
10     B     126512    1
11     A     207499    1
12     B     112238    1
13     A     219622    1
14     A     200898    1
15     B     123737    1
16     B     57197     1
17     B     93188     1
18     B     120653    1
19     A     203819    1
20     A     203742    1
21     B     140167    1
45     B     118221    1
Name: count, dtype: int64

The output of 'stores.value_counts()' shows the count of unique combinations of
the Store, Type, and Size columns. Each row in the output represents a unique
combination of these 3 colums along with the count of occurrences.

In [4]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

The output of 'stores.head()' displays the first five rows of the dataset and shows the details for the stores to include the type of store and its relative size. From the first five rows, we can visalize that Type A stores are generally larger than Type B stores indicating that Type A stores receive more weekly vistors.

In [5]:
# Display the last few rows of the stores data frame
stores.tail()

    Store Type    Size
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

Similarly to the output of '.head()', 'stores.tail()' displays the last five rows of the dataset and shows the details for the stores to include the type of store and its relative size. Again, we can note that Type A stores receive more weekly visitors than Type B or C stores.

In [6]:
# Display summary information about the stores data frame
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

The output of 'stores.info()' provides a summary of the stores data frame. There are 3 columns in the data frame with 45 rows. Column 0 is the unique store number and is an integer data type. Column 1 is the type of store - A, B, or C - and is a string data type. Column 3 is the size of the store and is an integer data type. There are no missing values in any of the columns.

### Task 1: Modifying a column

*1a)* Add comments to describe the function of the following code

In [7]:
# This converts the values in the 'Date' column of the sales 
# DataFrame to a datetime format and updates the 'Date' column with these 
#converted values.

# N.B. the origional code "sales.loc[:, 'Date'] = pd.to_datetime(sales['Date'])" had to be 
# modified slightly due to syntax errors and a deprecation warning. 
sales.loc[:, 'Date'] = pd.to_datetime(sales['Date'], format='%d/%m/%Y')

In [8]:
# Create a new column named Store_Size based on if the corresponding value in
#the Size column is greater than 100,000, then set the Store_Size to 'Large', 
#otherwise set the value to 'Small'
stores.loc[:, 'Store_Size'] = np.where(stores['Size'] > 100000, "Large", "Small")

*1b)* Modify the *IsHoliday* column so it has a value of 0 for False and 1 for True

In [9]:
# This will look in the 'sales' DataFrame for the column 'IsHoliday' and 
# within that column assign a 0 if the value is 'False' and a 1 if the value is 'True'
sales['IsHoliday'] = sales['IsHoliday'].astype(int)

### Task 2: Filtering the data frame

*2a)* Use the *.query()* data frame method to filter out the observations occurring on a holiday.

In [10]:
# This simply uses the query method to identify only those elements of the DataFrame that have a'0' in the colimn for 
#'IsHoliday'.  Note, it does not create a new DataFrame and the sales DataFrame remains in tact. 
sales.query('IsHoliday == 0')

        Store  Dept                 Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05 00:00:00      24924.50          0
2           1     1  2010-02-19 00:00:00      41595.55          0
3           1     1  2010-02-26 00:00:00      19403.54          0
4           1     1  2010-03-05 00:00:00      21827.90          0
5           1     1  2010-03-12 00:00:00      21043.39          0
...       ...   ...                  ...           ...        ...
421565     45    98  2012-09-28 00:00:00        508.37          0
421566     45    98  2012-10-05 00:00:00        628.10          0
421567     45    98  2012-10-12 00:00:00       1061.02          0
421568     45    98  2012-10-19 00:00:00        760.01          0
421569     45    98  2012-10-26 00:00:00       1076.80          0

[391909 rows x 5 columns]

*2b)* Rewrite the code from *2a* using .loc[] and save it to a new data frame

In [11]:
# This assigns the new DataFrame of "sales_no_holiday" to the filtered DataFrame that excludes the holidays. 
# New DataFrame name chosen to be more descriptive than "sales_2b"
sales_2b = sales.loc[sales['IsHoliday'] == 0]

### Task 3: Merge *Stores* and *Sales* data frames

*3a)* Using the following code as a base, merge the tables using the *merge* method for the pandas DataFrame (not the pd.merge function)

In [12]:
# Using the panadas .merge method, we are able to merge the 2 data frames 'stores' and 'sales_2b' data frame using an inner 
# join and matching the common Store column in both data frames 
sales_stores = stores.merge(sales_2b, how='inner', on='Store')

*3b)* Explain the implications of the type of join you chose ("left", "right", "inner", "outer") and why it makes the most sense here. Are there any differences in results if you use a different type of join?

*Answer*

An inner join is the best option to merge the stores and sales_2b data frames because only the rows with matching values in the Stores column will be included and create the new sales_stores data frame. Ultimately, the merged data frame only includes stores that have corresponding sales data and filters out rows from both data frame that do not share a common value in the Stores column. This choice made the most sense because we are ensuring that the merged data consists of information where both stores and sales_2b have corresponding entries and doesn't include rows with NaN values.

If we used a "left", "right", or "outer" join then the data frame would include more rows and introduce NaN values in columns where no matches exist between the two data frames, potentially affecting the interpretation of the merged data frame.

### Task 4: Summarize the data frame

*4a)* Add comments to describe the function of the following code

In [13]:
# This creates a new dataframe called 'weekly_store_sales' by rearanging the newly combined dataframe 'sales_stores' grouping it
# first by individual store, then by the date of sales and then by type (A or B). It then calculates the total sales by suming 
# the values of 'Weekly_Sales'. It then resets the index of the resulting DataFrame so that the grouped columns 
# ('Store', 'Date','Type') so that each row retains its values for future manipulation.
weekly_store_sales = (sales_stores
                      .groupby(['Store', 'Date', 'Type'])['Weekly_Sales']
                      .sum()
                      .reset_index()
                     )

*4b)* Recall that our original goal was to characterize weekly sales. We can do this using the simple code below. But we are interested in more than just the mean overall.

In [14]:
# Calculate the mean value of the Weekly_Sales column in the data frame
weekly_store_sales['Weekly_Sales'].mean()

1041256.3802088555

Extend this question to be more specific, then write the necessary code and answer it. You can consider, for example, different aggregation functions, another variable in the *.groupby()*, or additional filtering. 
*Explain your findings.*

**Revised Question**

For each type of store and store size, what is the average and maximum weekly sales after excluding holidays? How does the type of the store influence the average weekly sales?

In [16]:
average_store_sales = (sales_stores
                      .groupby(['Store'])['Weekly_Sales']
                      .agg('mean')
                      .reset_index()
                      .sort_values(by='Weekly_Sales', ascending=False)
                     )
# Merge average stores sales and original data to get store size
average_store_sales_full = pd.merge(average_store_sales,
                        sales_stores,
                       on='Store', how='left')
average_store_sales_display = average_store_sales_full[['Store', 'Weekly_Sales_x','Store_Size']].drop_duplicates()
print(average_store_sales_display)
# This gives us our average weekly sale by store in descending order.

        Store  Weekly_Sales_x Store_Size
0          20    29386.517928      Large
9491        4    29032.260570      Large
19036      14    28680.955485      Large
28373      13    27261.146969      Large
38108       2    26753.864227      Large
47624      10    26116.166656      Large
57215      27    24714.172533      Large
66721       6    21806.854728      Large
76211       1    21609.634733      Large
85732      39    20905.594997      Large
94913      19    20233.689681      Large
104346     23    19700.962434      Large
113692     31    19585.576618      Large
123118     11    19185.338530      Large
132473     24    18856.110105      Large
141980     28    18567.759341      Large
151377     41    17915.373396      Large
160754     32    16318.545633      Large
170239     18    15641.892529      Large
179408     22    15122.879886      Large
188416     12    14731.304140      Large
197438     26    14491.200754      Large
206595     40    13730.522084      Large
215902     35    13631.736739      Large
224762     34    13443.052068      Large
234271     43    13410.729834      Small
240550      8    13066.406406      Large
249749     17    12862.113716      Small
258922     45    11614.648240      Large
267879     42    11425.515827      Small
274346     21    11204.327405      Large
283258     37    10306.767529      Small
289965     25    10278.109377      Large
299078     15     8920.611276      Large
308278     30     8763.636535      Small
314936      9     8723.575683      Large
323178     36     8597.374014      Small
328963      7     8254.246774      Small
338034     29     8088.309482      Small
346821     16     7820.420632      Small
355591     38     7493.363637      Small
362443      3     6332.098604      Small
370846     44     6046.886331      Small
377516     33     5723.280870      Small
383550      5     5010.249172      Small

In [20]:
# Now, we will calculate the average of weekly_sales by type
average_store_type_sales = (sales_stores
                      .groupby(['Type'])['Weekly_Sales']
                      .mean()
                      .reset_index()
                      .sort_values(by='Weekly_Sales', ascending=False)
                     )
print('Average Weekly Sales by Store Type:')
print(average_store_type_sales)
result_weekly_sales = sales_stores.groupby(['Type', 'Store_Size'])['Weekly_Sales'].agg(['mean','max']).reset_index()
print()
print('Average and Maximum Weekly Sales by Store Size')
print(result_weekly_sales)

Average Weekly Sales by Store Type:
  Type  Weekly_Sales
0    A  20008.746759
1    B  12153.067752
2    C   9518.528116

Average and Maximum Weekly Sales by Store Size
  Type Store_Size          mean        max
0    A      Large  20816.355726  356867.25
1    A      Small   7130.052072   78974.83
2    B      Large  14277.357602  406988.63
3    B      Small   8135.091288  155897.94
4    C      Small   9518.528116  112152.35

**Observations**

The findings offer an insight into the weekly sales performance of the different store types and store sizes. The code from cell 16 calculates the average store sales and merges the data with the sales_stores dataframe. Following this, we grouped each store to their corresponding type (A, B, C) and took their average weekly sales. We then seperated the store type by their store size, giving us mean sales for each store type and size. 

The data was grouped by store type and size. We calculated both the average and maximum weekly sales for each group. There is a clear distinction in the sales performance of the different store types based on their sizes. The large stores (Type A and B) exhibit higher average and maximum weekly sales compared to their smaller counterparts within the same type. This suggests there is a correlation between store size and weekly sales. 

Specifically, Type A large stores have a larger average sales compared to small stores. This trend holds for Type B large stores. Type C stores, which only contain small stores, show a lower average maximum weekly sales compared to Type B stores but a higher average and maximum weekly sales compared to Type A stores indicating a different sales profile for smaller stores between the three types of stores. 

The findings emphasize the influence of both store type and size on weekly sales performance, with larger stores consistently demonstrating higher sales.

### Task 5: Method Chaining
Complete tasks 2a, 3a and 4a in a single code chunk using method chaining

In [18]:
# Task 2a: Use .query() to filter out observations occurring on a holiday
# Task 3a: Merge the tables using the merge method for the pandas DataFrame
# Task 4a: Add comments to describe the function of the following code
new_weekly_store_sales = (stores
                          .merge(sales.loc[sales['IsHoliday'] == 0], on='Store', how = 'inner') # Merge 'stores' and 'sales_2a' on 'Store'
                          .groupby(['Store', 'Date', 'Type'])['Weekly_Sales'] # Group by 'Store', 'Date', and 'Type'
                          .sum()  # Sum the 'Weekly_Sales' for each group
                          .reset_index() # Reset the index to make the resulting data frame easier to r
                         )
new_weekly_store_sales

      Store       Date Type  Weekly_Sales
0         1 2010-02-05    A    1643690.90
1         1 2010-02-19    A    1611968.17
2         1 2010-02-26    A    1409727.59
3         1 2010-03-05    A    1554806.68
4         1 2010-03-12    A    1439541.59
...     ...        ...  ...           ...
5980     45 2012-09-28    B     713173.95
5981     45 2012-10-05    B     733455.07
5982     45 2012-10-12    B     734464.36
5983     45 2012-10-19    B     718125.53
5984     45 2012-10-26    B     760281.43

[5985 rows x 4 columns]